<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
/*<![CDATA[*/
window.__ctx =  [[${uipath}+${appname}]];
window.__uipath = [[${uipath}]];
window.__local = window.location.origin+"/"+[[${appname}]];
/*]]>*/
</script>
<meta charset="UTF-8"/>

<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/common/style/rest.css'}"/>
<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/common/style/simplegrid.css'}"/>
<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/common/style/icon.css'}"/>
<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/library/easyui/themes/metro/easyui.css'}"/>
<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/framework/ui/style/style.css'}"/> 
<link rel="stylesheet" type="text/css" th:href="@{${uipath}+'base/library/toastr/toastr.css'}"/>
<script type="text/javascript" th:src="@{${uipath}+'base/library/jquery/jquery-1.11.0.min.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/library/jquery.form.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/library/easyui/jquery.easyui.min.1.4.1.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/library/easyui/easyui-lang-zh_CN.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/library/moment/moment-with-locales.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/library/kindeditor/kindeditor-min.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/common/include/sys/language.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/util.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/common/include/sys/exportxls.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/common/include/sys/language.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/common/include/sys/adQuery.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/library.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/htmlbox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/radiobox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/checkbox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/editorbox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/labelsbox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/hiddenbox.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/opinionArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/timelineArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/htmlArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/menuArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/dialogArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/windowArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/treeArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/accordionArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/imageGridArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/gridArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/formArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/tabsArea.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/viewArea.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/framework/ui/js/viewport.js'}"></script>

<script type="text/javascript" th:src="@{${uipath}+'base/library/toastr/toastr.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/shared/webUtil.js'}"></script>
<script type="text/javascript" th:src="@{${uipath}+'base/framework/shared/rulesUtil.js'}"></script>
</head>
<body>
</body>
</html>